.box_container{
    display: flex;
    gap: 1.5rem;
    margin: 3rem 8rem;
}
.box1{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;

}
.box1 h3{
    margin-bottom: 1rem;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES)=============== */

@media  screen and (max-width: 1024px){
    .box_container{
        display: flex;
        gap: 1.5rem;
        margin: 3rem 3rem;
    }
    .box1 h3{
        margin-bottom: 0.4rem;
    }
    .box_text{
        font-size: 11px;
    }
}
